<div class="bid" id="<%= dom_id(bid) %>">


<p>
  <%= bid.amount %>
  <%= bid.user_id %>
  <%#= link_to "Remove Bid", auction_bid_path(bid.auction, bid), method: :delete,
                                                        class: "btn btn-custom",
                                                       remote: true %>
</p>




</div>
